/**
 * Styles defining how character portraits render in the mockup character selection.
 */

.character-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: rem-calc(30px);

  &.character-grid--hidden {
    display: none;
  }
}

.character {
  background-size: cover;
  cursor: pointer;
  flex: 0 0 auto;
  height: rem-calc(50px);
  overflow: hidden;
  position: relative;
  transition: width .25s;
  width: rem-calc(90px);
  &:nth-child(3n+1) {
    background-color: red;
  }
  &:nth-child(3n+2) {
    background-color: blue;
  }
  &:nth-child(3n+3) {
    background-color: green;
  }

  &.character--disabled {
    width: 0;
  }

  .character-grid--disabled & {
    cursor: default;
    opacity: .5;
  }
}

.character-name {
  @include smashtext;

  .character-grid--disabled & {
    cursor: default;
  }
}
