/**
 * Various useful styles for reapplication.
 */

/**
 * Applies all values in a map over a selector.
 *
 * Example usage: map-apply('&.player--player', $player-main-palette, 'color'.
 * This would output '&.player--player1 { color: blue }', or similar, for each
 * player in the player-main-palette.
 */
@mixin map-apply($selector, $map, $property, $additional-selector: '') {
  @each $option, $value in $map {
    #{$selector}#{$option}#{$additional-selector} {
      #{$property}: $value;
    }
  }
}

/**
 * Converts font to the bold Smash Text.
 */
@mixin smashtext($dropshadow: 3px 3px 0px) {
  color: white;
  font-family: 'Open Sans', 'Work Sans', sans-serif;
  font-weight: 800;
  text-shadow: rem-calc(0 0 2px) black, rem-calc($dropshadow) black;
  text-transform: uppercase;
}

/**
 * Creates a small label to appear in a character portrait or stage image.
 */
@mixin smashtext-label() {
  @include smashtext(2px 2px 0px);

  bottom: rem-calc(2px);
  font-size: rem-calc(14px);
  line-height: rem-calc(12px);
  position: absolute;
  text-align: center;
  width: 100%;
}

@mixin bevel($vertical: top, $horizontal: left, $color: $white, $width: rem-calc(15px)) {
  $selector: before;

  @if $vertical == top {
    $selector: before;
  }
  @else {
    $selector: after;
  }

  &:#{$selector} {
    border: $width $color solid;
  }

  &:#{$selector} {
    content: '';
    display: block;
    height: 0;
    width: 100%;
  }

  @if $vertical == top {
    &:before {
      border-top: 0;
    }
  }
  @else if $vertical == bottom {
    &:after {
      border-bottom: 0;
    }
  }

  @if $horizontal == right {
    &:#{$selector} {
      border-right-color: transparent;
    }
  }
  @else if $horizontal == left {
    &:#{$selector} {
      border-left-color: transparent;
    }
  }
}
