/**
 * Various useful functions and styles for reapplication.
 */

@mixin smashtext() {
  color: white;
  font-family: 'Open Sans', 'Work Sans', sans-serif;
  font-weight: 800;
  text-shadow: rem-calc(0 0 2px) black, rem-calc(2px 2px 3px) black;
  text-transform: uppercase;
}

@mixin smashtext-label() {
  @include smashtext;

  bottom: rem-calc(2px);
  cursor: pointer;
  font-size: rem-calc(14px);
  line-height: rem-calc(12px);
  position: absolute;
  text-align: center;
  width: 100%;
}
