/**
 * Styles defining how player columns appear.
 */

.player {
  border-color: $dark-gray;
  position: relative;
  transition: border-width .25s, border-color .25s, height .25s, padding .25s;

  &.player--current {
    border-width: rem-calc(4px);
  }
  &.player--active {
    border-color: map-get($foundation-palette, alert);
  }

  &.player--new {
    border-color: $medium-gray;
    border-style: dashed;
    border-width: rem-calc(4px);
    &:after {
      color: $medium-gray;
      content: '+';
      display: block;
      font-size: rem-calc(30px);
      font-weight: bold;
      margin: rem-calc(10px 0 60px);
      text-align: center;
    }
  }

  &:not(.player--current) {
    padding: rem-calc(3px);
  }

  &.player--owned:not(.player--current) {
    .close-button {
      display: none;
    }
  }

  h4 {
    @include smashtext;
    font-size: rem-calc(35px);
    text-align: center;
  }

  @include map-apply('&.player--player', $player-main-palette, 'color', ' h4');
}

.player-picker-outer {
  min-height: rem-calc(60px);
  overflow: hidden;
}

.player-picker {
  cursor: pointer;

  .player--owned:not(.player--current) & {
    display: none;
  }
}

.player-roster {

  &.player-roster--empty {
    border: rem-calc(3px) dashed $medium-gray;
    &:after {
      color: $dark-gray;
      content: '+';
      display: block;
      font-weight: bold;
      margin: rem-calc(15px 0);
      text-align: center;
    }
  }

  .character {
    height: rem-calc(100px);
    margin: 0 auto;
    width: rem-calc(180px);

    &.character--active {
      border: rem-calc(3px) solid $black;
    }

    &.character--disabled {
      cursor: default;
      opacity: .25;
    }

    &.character--win {
      border: rem-calc(3px) solid #ff0000; // Has to match the logo color exactly.
      position: relative;
      &:after {
        background: url('../images/emblem-small-red.png') center center transparent;
        bottom: 0;
        content: '';
        display: block;
        height: rem-calc(32px);
        position: absolute;
        right: 0;
        width: rem-calc(32px);
      }

      &.character--disabled {
        opacity: .75;
      }
    }
  }
}
