/**
 * Styles defining how player columns appear.
 */

.player-wrapper {
  filter: drop-shadow(0 -8px 0 $black);
  &.player-wrapper--active {
    filter: drop-shadow(0 -8px 0 $red);
  }
}

.player {

  &:before {
    content: '';
    height: 100%;
    left: 0;
    mask: url('./images/player_alpha.png') right top;
    position: absolute;
    top: 0;
    width: 100%;
  }
  background-color: $light-gray;
  border: solid 2px $black;
  border-top-width: 1px;
  clip-path: polygon(50px 0, 100% 0, 100% 100%, 0 100%, 0 50px);
  position: relative;
  transition: border-width .25s, border-color .25s, height .25s, padding .25s;

  &.player--active {
    border-color: $red;
  }

  &.player--new {
    &:before {
      background-color: $medium-gray;
    }
  }

  &.player--owned:not(.player--current) {
    .close-button {
      display: none;
    }
  }

  .card-section {
    position: relative;
  }

  h4 {
    @include smashtext;
    -webkit-text-stroke: 1px black;
    font-size: rem-calc(35px);
    text-align: center;
  }

  .close-button {
    color: $white;
  }

  @include map-apply('&.player--player', $player-main-palette, 'background-color', ':before');
}

.player-picker-outer {
  min-height: rem-calc(60px);
  overflow: hidden;
  text-align: center;
}

.player-picker {
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid $black;
  border-radius: 2px;
  color: $black;
  cursor: pointer;
  font-size: rem-calc(20px);
  font-family: 'Open Sans', 'Work Sans', sans-serif;
  font-weight: 600;
  min-width: 50%;
  padding: rem-calc(6px 20px);

  &.hollow {
    border: 2px solid $black;
    color: $black;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 1);
    color: $black;
  }

  .player--owned:not(.player--current) & {
    display: none;
  }
}

.player-roster {

  &.player-roster--empty {
    border: rem-calc(3px) dashed $medium-gray;
    &:after {
      color: $dark-gray;
      content: '+';
      display: block;
      font-weight: bold;
      margin: rem-calc(15px 0);
      text-align: center;
    }
  }

  .character {
    height: rem-calc(100px);
    margin: 0 auto;
    width: rem-calc(180px);

    &.character--active {
      border: rem-calc(3px) solid $black;
    }

    &.character--disabled {
      cursor: default;
      opacity: .25;
    }

    &.character--win {
      border: rem-calc(3px) solid #ff0000; // Has to match the logo color exactly.
      position: relative;
      &:after {
        background: url('./images/emblem-small-red.png') center center transparent;
        bottom: 0;
        content: '';
        display: block;
        height: rem-calc(32px);
        position: absolute;
        right: 0;
        width: rem-calc(32px);
      }

      &.character--disabled {
        opacity: .75;
      }
    }
  }
}
