/**
 * Styles defining how stages render in the mockup stage selection.
 */

.stages-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: rem-calc(30px);

  &.stages-grid--hidden {
    display: none;
  }
}

.stage {
  background-size: cover;
  cursor: pointer;
  flex: 0 0 auto;
  height: rem-calc(100px);
  overflow: hidden;
  position: relative;
  transition: width .25s;
  width: rem-calc(180px);

  &.stage--disabled,
  .stages-grid--disabled & {
    cursor: default;
    opacity: .5;
  }

  &.stage--active {
    border: rem-calc(2px) solid red;
  }
}

.stage-name {
  @include smashtext;

  .stage--disabled &,
  .stage-grid--disabled &{
    cursor: default;
  }
}

.stage-token {
  background: url('../images/emblem-small-red.png') center center transparent;
  display: block;
  height: rem-calc(32px);
  position: absolute;
  width: rem-calc(32px);
}
