<h2>Welcome to SmashCrowd, {{ name }}</h2>
<h3>You're almost ready to start stat-tracking and board-making.</h3>
<p>There's just one more thing to do, and that's verify this email address! Click the link below to complete your registration.</p>
<a href="{{ url }}" class="button">Verify Email Address</a>

<p class="footnote"><sup>If this is not you or you did not sign up to use <a href="{{ domain }}">SmashCrowd</a>, please ignore this email.</sup></p>
