{#
  The main character container and select screen. This is passed dynamically to
  clients when they connect or when a character is moved.
#}
{% set characterGridClasses = [
  'character-grid',
  (board.checkStatus('draft') ? '' : 'character-grid--disabled'),
  (board.checkStatus('game') ? 'character-grid--hidden' : ''),
]|join(' ')|trim %}

<div class="cell">
  <div class="{{ characterGridClasses }}">
    {% for character in board.getCharacters() %}
      {% if character and character.getPlayer() is null %}
        {% include 'character.twig' %}
      {% endif %}
    {% endfor %}
  </div>
</div>
