{#
  A form to select the various options in a new SmashCrowd board.
#}

<form name="new-board">

  <div class="form-options">
    <p>Select the type of draft:</p>
    {% for draft_type in board.getDraftTypes() %}
      <label><input type="radio" name="draft-type" value="{{ draft_type.machine_name }}" {% if board.getDraftType() == draft_type.machine_name %}checked{% endif %} required>{{ draft_type.getLabel() }}</label>
    {% endfor %}
  </div>

  <div class="form-options">
    <p>How many rounds? Leave blank for unlimited.</p>
    <div class="grid-x grid-padding-x">
      <div class="cell small-3">
        <label for="rounds" class="text-right">Rounds</label>
      </div>
      <div class="cell small-6">
        <input name="rounds" type="number" min="0" step="1" value="{{ board.getTotalRounds() }}">
      </div>
    </div>
  </div>

  <button type="submit" class="button submit">Submit</button>

</form>

