
<div class="card player player--new">
  <div class="card-section">
    {% if not client.isLoggedIn() %}
      <form class="player-add-form">
        <input class="player-add" tabindex="1" type="text" placeholder="Join anonymously">
      </form>
    {% else %}
      <form class="player-join-form">
        <button class="player-join button expanded" tabindex="1">Join Board</button>
      </form>
    {% endif %}
  </div>
</div>
