<!DOCTYPE html>
<html lang="en" class="no-js" lang="en">
<head>
  <title>SmashCrowd</title>
  <link rel="stylesheet" href="css/app.css">
  <script src="/socket.io/socket.io.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Work+Sans:400,600,800" rel="stylesheet">
</head>
<body>

<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell medium-6 large-4">
      <h1>SmashCrowd</h1>
      <p>Draft your next online Smashdown!</p>
    </div>

  </div>

  <div id="players_container"">
    {% include 'players-container.twig' %}
  </div>

  <div id="characters_container" class="grid-x grid-margin-x">
    {% include 'characters-container.twig' %}
  </div>
</div>

<script src="js/libs/jquery.js"></script>
<script src="js/libs/what-input.js"></script>
<script src="js/libs/foundation.js"></script>
<script src="js/app.js"></script>

</body>
</html>
