
{% set playerRosterClasses = [
  'player-roster',
  (not player.getCharacterCount() ? 'player-roster--empty' : ''),
]|join(' ')|trim %}

<div class="{{ playerRosterClasses }}">
  {% for character in player.getCharacters() %}
    {% include 'character.twig' with {
      isDisabled: (board.checkStatus("game") and board.getGameRound() > 0 and loop.index != board.getGameRound()) or (board.checkStatus("draft") and loop.index != board.getDraftRound()),
      isActive: (board.checkStatus("game") and loop.index == board.getGameRound()),
      characterRound: loop.index,
    } %}
  {% endfor %}
</div>
