
{% set playerRosterClasses = [
  'player-roster',
  (not player.getCharacterCount() ? 'player-roster--empty' : ''),
]|join(' ')|trim %}

<div class="{{ playerRosterClasses }}">
  {% for character in player.getCharacters() %}
    {% include 'character.twig' with {
      isDisabled: (board.getGameRound() > 0 and loop.index != board.getGameRound()),
    } %}
  {% endfor %}
</div>
