<div class="grid-x grid-margin-x">

  {% for player in board.getPlayersPickOrder() %}
    <div class="cell small-6 medium-3 large-auto">
      {% include 'player.twig' %}
    </div>
  {% endfor %}

  {% if board.getDraftRound() < 1 and not client.getPlayerIdByBoard(board.getId())%}
    <div class="cell small-6 medium-3 large-auto">
      {% include "form-add-player.twig" %}
    </div>
  {% endif %}

</div>
