{#
  Player containers and rosters.
#}

{% set playerClasses = [
  'card',
  'player',
  (player.getClient() == clientId ? 'player--current'),
  (player.isActive ? 'player--active'),
]|join(' ')|trim %}

{% set playerRosterClasses = [
  'player-roster',
  'player-roster--' ~ player.getCharacterCount(),
]|join(' ')|trim %}

<div class="cell">
  <div class="{{ playerClasses }}">
    <div class="card-section">
      <h4>{{ player.getName() }}</h4>
      <div class="{{ playerRosterClasses }}">
        {% for character in player.getCharacters() %}
          {% include 'character.twig' %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
