{#
  Player containers and rosters.
#}

{% set playerClasses = [
  'card',
  'player',
  (player.getClient() == clientId ? 'player--current' : ''),
  (player.isActive ? 'player--active' : ''),
]|join(' ')|trim %}

{% set playerRosterClasses = [
  'player-roster',
  (not player.getCharacterCount() ? 'player-roster--empty' : ''),
]|join(' ')|trim %}

<div class="cell medium-4">
  <div class="{{ playerClasses }}">
    <div class="card-section">
      <h4>{{ player.getName() }}</h4>
      <div class="player-picker button" data-player-id="{{ player.getId() }}">Be This Player</div>
      <div class="{{ playerRosterClasses }}">
        {% for character in player.getCharacters() %}
          {% include 'character.twig' %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
