{#
  The main character container and select screen. This is passed dynamically to
  clients when they connect or when a character is moved.
#}
{% set stagesGridClasses = [
  'stages-grid',
  (not board.getStatus(['new', 'draft', 'draft-commplete',]) ? 'stages-grid--disabled' : ''),
]|join(' ')|trim %}

<div class="cell">
  <div class="{{ stagesGridClasses }}">
    {% for stage in board.getStages() %}
      {% include 'stage.twig' %}
    {% endfor %}
  </div>
</div>
