{#
  The main character container and select screen. This is passed dynamically to
  clients when they connect or when a character is moved.
#}
{% set stagesGridClasses = [
  'stages-grid',
  (board.checkStatus('game') or client.getPlayerId(board.getId()) is null ? 'stages-grid--disabled' : ''),
]|join(' ')|trim %}

<div class="cell">
  <div class="{{ stagesGridClasses }}">
    {% for stage in board.getStages() %}
      {% if stage %}
        {% include 'stage.twig' with {
          player: client.getPlayer(board.getId()),
        } %}
      {% endif %}
    {% endfor %}
  </div>
</div>
