{#
  Displays information about the current board.
#}

<h4>Draft Type: {{ board.getDraftType() }}</h4>

<h4>Round: {{ board.getDraftRound() }}{% if board.getTotalRounds() %} out of {{ board.getTotalRounds() }}{% endif %}</h4>

<div class="board-options grid-x grid-margin-x">
  <div class="cell auto">
    <button id="reset" data-open="modal_new_board" class="reset button">New Board</button>
    {% if board.getDraftRound() == 0 %}
      <button id="randomize" class="randomize button" title="Randomizes the player order. This option will disappear after picking has begun.">Shuffle Players</button>
      <button id="start_picking" class="start-draft button" title="Begin the drafting process.">Start Draft</button>
    {% else %}
      <button id="start_playing" class="start-game button" title="Begin going through rounds.">Start Game</button>
    {% endif %}
  </div>
</div>
