{#
  Individual character portraits. These are rendered both in a roster or in the
  main character container.
#}

<div class="character" data-character-id="{{ character.getCharId() }}" style="background-image: url('{{ character.getImage() }}')">
  <span class="character-name">{{ character.getName() }}</span>
</div>
