{#
  Message Display template.
#}

{% set statusClasses = [
  'status',
  'callout',
  (type ? type : ''),
]|join(' ')|trim %}

<div class="{{ statusClasses }}" data-closable>
  {{ status }}
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
