/**
 * Styles defining how character portraits render in the mockup character selection.
 */

.character-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.character {
  background-size: cover;
  cursor: pointer;
  flex: 0 0 auto;
  height: rem-calc(50px);
  position: relative;
  transition: width 0.25s;
  width: rem-calc(90px);
  &:nth-child(3n + 1) {
    background-color: red;
  }
  &:nth-child(3n + 2) {
    background-color: blue;
  }
  &:nth-child(3n + 3) {
    background-color: green;
  }

  &.character--disabled {
    width: 0;
  }

  .character-grid--disabled & {
    cursor: default;
    opacity: 0.5;
  }
}

.character-name {
  bottom: rem-calc(2px);
  color: white;
  cursor: pointer;
  font-family: 'Open Sans', 'Work Sans', sans-serif;
  font-size: rem-calc(14px);
  font-weight: 800;
  line-height: rem-calc(12px);
  position: absolute;
  text-align: center;
  text-shadow: rem-calc(0 0 2px) black, rem-calc(2px 2px 3px) black;
  text-transform: uppercase;
  width: 100%;

  .character-grid--disabled & {
    cursor: default;
  }
}
